@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Lato);

body {
	font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'sans-serif';
	font-size: 18px;
	font-weight: 300;
	background: url('../img/background.jpg');
	background-size: 100%;
	background-attachment: fixed;
}

a:link, a:visited { 
    color: #0000AA;
    text-decoration: none
}

input:focus, a:hover { 
    color: #0000EE;
}

h1, h2, h3 {
	font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', 'sans-serif';
	font-weight: 300;
}

h1 {
	font-size: 300%;
	margin: 0;
}

h2 {
	font-size: 150%;
	color: #505050;
	margin: 0;
}

h3 {
	font-size: 125%;
	color: #505050;
}

dt {
	font-weight: 400;
}

dd {
	font-size: 80%;
	font-style: italic;
	margin-left: 1em;
	margin-bottom: 1em;
}

footer {
	background-color: #FC892F;
	border-top: 5px;
	border-color: #EC791F;
	font-size: 80%;
	text-align: right;
}

footer, .header, .info, .menu, .about {
	padding: 1em;
}

.header {
	background-color: #FA5A0F;
	color: #FFFFFF;
	border-bottom-color: #EA4A00;
	border-bottom: 5px;
}

.main {
	margin-left: 30%;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	background-image: url('../img/ricepaper_v3.png');
	opacity: 0.9;
}

.menu {
	background-color: rgb(207, 205, 140); 
	opacity = 0.5;
}

.descriptions {
	font-size: 80%;
	font-style: italic;
	margin-left: 1em;
	margin-bottom: 1em;
}
